#bloc_page
{
	width: 1000px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

header
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 75px 10px 75px;
	border-bottom: solid 1px black;
}

img
{
	width: 142px;
}

header ul
{
	list-style-type: none;
}

li a
{
	color: black;
}

header a
{
	text-decoration: none;
}

header input
{
	margin-top: 20px;
}

footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	padding: 20px 0 20px 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

footer a
{
	color: black;
	text-decoration: none;
}

#partner_section
{
	display: flex;
	flex-direction: column;
	border-bottom: solid 1px black;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#partner_section img
{
	margin-left: auto;
	margin-right: auto;
}

#partner_section h2
{
	text-decoration: underline;
	text-decoration-color: red;
}

.details
{
	display: flex;
	flex-direction: column;
	text-align: left;
}

.list ul
{
	list-style-type: none;
}

.list ul li:before
{
	content: "•";
	color: red;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

#comments_section
{
	display: flex;
	flex-direction: column;
	border-bottom: solid 1px black;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.rating
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.title_comments:nth-child(1)
{
	flex: 2;
}

.likes_dislikes:nth-child(2)
{
	flex: 1;
}

.comments_form:nth-child(3)
{
	flex: 1;
}

.title_comments
{
	display: flex;
	align-self: start;
}

.likes_dislikes
{
	display: flex;
	justify-content: space-around;
	border: 1px solid grey;
	border-radius: 5px;
	align-self: start;
	margin-top: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.comments_form
{
	display: flex;
	justify-content: flex-end;
	align-self: center;
	margin-top: 25px;
}

.commentaire
{
	resize: none;
	width: 171px;
	height: 86px;
}

.comments_list
{
	border: 1px solid grey;
	border-radius: 10px;
	padding-left: 20px;
	height: 125px;
	margin-bottom: 10px;
}